@import url("https://fonts.googleapis.com/css?family=Roboto");
button,
input {
    outline: none
}

.salbot-wrapper {
    width: 315px;
    height: 55px;
    position: fixed;
    bottom: 0;
    right: 2%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    transition: all .3s ease;
    font-family: 'Roboto', sans-serif;
    background: white
}

.salbot-wrapper .img {
    background: #003399;
    width: 32px;
    height: 32px;
    border-radius: 5em;
    padding: 5px 5px 5px 6px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 7px
}

.salbot-wrapper .img img {
    width: 28px;
    position: relative;
    left: 1px;
    top: 3px;
}

.salbot-wrapper .name-bot {
    font-size: 14px;
    margin-top: 9px
}

.salbot-wrapper .text-2 {
    font-size: 12px;
    margin-top: -8px
}

.salbot-wrapper .top-panel {
    background: #1A53C6;
    border-radius: 10px 10px 0 0;
    display: flex;
    height: 55px
}

.salbot-wrapper .top-text {
    color: white;
    font-size: 14px
}

.salbot-wrapper .input-data {
    position: absolute;
    bottom: 5px;
    left: 0;
    border-top: 1px solid #EAEAEA;
    right: 0;
    display: flex
}

.salbot-wrapper .sending-button {
    margin-top: 10px;
    margin-right: 10px
}

.salbot-wrapper #salebot-input {
    border-radius: 10px;
    border: 0;
    padding: 10px 0 10px 12px;
    width: 300px;
    font-size: 14px
}

.salbot-wrapper #salebot-input::-webkit-input-placeholder {
    color: #C2C2C2
}

.salbot-wrapper #salebot-input::-moz-placeholder {
    color: #C2C2C2
}

.salbot-wrapper #salebot-input:-ms-input-placeholder {
    color: #C2C2C2
}

.salbot-wrapper #salebot-input::-ms-input-placeholder {
    color: #C2C2C2
}

.salbot-wrapper #salebot-input::placeholder {
    color: #C2C2C2
}

.salbot-wrapper .close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 30px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    color: white;
    cursor: pointer;
    transition: all .3s ease
}

.salbot-wrapper .close:hover {
    color: silver
}

.salbot-wrapper .message-list {
    display: flex;
    flex-direction: column;
    height: 278px;
    overflow-x: auto;
    padding-bottom: 20px;
    padding-top: 5px
}

.salbot-wrapper .dropdown-block {
    display: none
}

.salbot-wrapper .message-item-client {
    text-align: right;
    margin-right: 50px;
    position: relative;
    margin-top: 0;
    margin-bottom: 20px;
}

/*.salbot-wrapper .message-item-client:after {
    content: '';
    position: absolute;
    right: -32px;
    top: 10px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAH4AAAChCAYAAAABSwtyAAAgAElEQVR4Xu19B5xeZZX%2B897ytWnJTCY9pAAhgQChLIog0hTFtgrWBaQpiLgKgrBr%2FbsqriisuipSFUEEBXVXURDFFUWkSQ0JkE769PZ9363%2F33POe2cmjZmEmRTg%2BsMkM1%2B59z3vOe8pz3mOSdM0xU69EgAGMYzchYMEJg74IyABUuMidTwgMTAGCMMExncQGqDPAK0R8LdFER58YjWWb%2BhEZyVGNUoRmRyiNIfYeAjh6OcbB4mJ4aYpjOH36qXfbGCQwnUM0iiCayLknQAODPKIMLHOwz%2FNGoe3vHYyZtYDbgz4BvAdLl8ApAmQODCph9R1%2BVe5%2BF1I%2BTwuYLydutKDv9zskoJPQt0MxkMldUTguRQIDNASAP9YUcZDz67D4rYqVrVW0Fl1EcV5BMghdFwY41hpGui2TuBC9zc%2FK6WIVdpy8TdJmsKljJIYjqs%2FdIxBmBg4jos0CZF3Ioz1AkyrBw6eXovD95uA%2FSb5qEUMHymcJABiyreAxHH5V9lMdtvB4FXB2yWnSlPzXMSUSKbxSYzEuCjDQW8KbOiNsXhNFX9%2BdAUeXdKKNjSgz61FGZ4IjVrqI0GaOtRZpPL3RP40xoA%2FFX1OKFluA2q%2FoRGR9%2FCf%2BjnUWNkWKvkohuf7CNMUseMhSl35XcEkyAXtqDV9mN7o4%2B2Hz8The5UwsWRQSmO4SQDjekhSCprfby3LoM22s1V%2FlDReF45L2G9I%2BaPNHjwTvDXpdsmDNEUFBsu6gNvveQoPLuvE8qQZUZpHGntIqIWehwQJ4pQaqoKk0NzUUOyIrdBFs%2BX%2FqP003A5chPJauUujOskNEichPNdFGnPDiBmQ74lpxZMUnmfgJDGQRoi5YajVUYI616DZa8cb5zfjfa8fjwk5oJSZedp8fhGlb3dAdrbyTnWdaGIAI0qQWavR3RqjJ%2Fg0EK2N4MnzepRxZlqNamCSRGoKDRClQOy4WFM2%2BOuzHbjr8R4sWF9Fe%2BQgdXOipdlZPGCn035t3fi8HjDhGy9ftvN0S27XNdglknODGyqFcV04SQWTCmW8Zf96nPxPkzG9JoXe%2BYCoedbzWXkmeCZSy4Mc6CqYOARc%2BgKZjdiuOxzWm0ZF8NZQisvGhUnsg7hUHS6Dw10eAbFB5Pl0jdBaTXDPM3344V3PoDMtopzwdQWEaQ7GL8HE1S1YjGE946i%2ByCSpOHlBUkbqemJRCnEFTWkrPnPKgXjttBIaoiocR9chTIGcmyKJQ7hO0R5CqhSp4SahVRr9a5QFL96S7uCUpphOW4g09RElPmIvxQYY%2FOmZAD%2F942Is782ji14xFylN4DkenNQVkwuj2r3LXeITMFKI4Xk%2BeoIIyBeAOMIE0433H1aPs94wBTVxAM%2BBRBtOnMBLxQuUZ%2BVFlYgMxP1Twz%2B616gIfuCWKXj6ttRwulj0rHgCOyi7Hh54oYIf%2F%2BEFPLmyE71%2BA%2FpQgOP6QBKr%2BXRcJEkCVw7cl2CeR3ENJUx0XDhhBTnEclwFbh5B6qKUBGhOW%2FGWQyfi1CObMSUfwU95JGhoqi6Qbmo9EIwIfUfs79ETvA2j0jSCMeroVWIfiTHoQYrfPdmDq379LDr88Qh41juJhEBh4sKDL%2BYzTiJE4hQZMOzOTvlRlOM2fzQDudg4cJMy8iYRxxNuAdUkgmeo2SFKBnjNlAT%2F%2Fr4ZmJIY5DxIHoIOJS2FHIkMCLkHrAXY5hvZxjeMquDjOIIjXguttYeqMXiqA%2FjuXSvxj2URkqQPvW4j3Tw4PAIMvXHqTU52vZuGcFEVbY9NfgfpwratoPh6GgKopqZMQXG3cqvzbymcNEUuCXFAYxlXnDkHE%2FwYMY2h8eCnCZw4EquRSg5iR%2Bg7jcwoZe7CiFqsaRM%2BS4AUD6ws46u%2FWI5nK%2FWIjEEpjhC6tAKemD%2Fufnq7oesicDxJqOTjKvw0Qsis1w5alG0RvQaFXEg6Zfw7cxAUuwukvjyTY6pAmkc%2BLePI6Skufed0TCsyn5ggNdzknlg0vn1HJfdGRfD6%2BOqpVqsx4ryL%2F1vci8%2Fe%2BBSC%2BimoRgZxDMQ5areRXZ8Tj58OjoPUxP0p1SQtys%2Bp%2BQNh0baIZnRfG4t2%2B3DQB1%2FCU%2Bo5zb8miHh%2BO4kmleivFBDg3QfU45ITx6GWdkKsHNcA8Ojv7aBDflQET5EnSYDU%2BOiBg5v%2Ftgo%2Fvb8Da5IxCJn9SpkgSeW8p28jFlLURn0dmkYnTST8iQwXEfDEVxhdIW7Pp9PUq66r02ofQ0y%2Faj4TMoxMQnt8Jag3vTjxwAacefwkjPMAHmI%2BN3fCDc84fnvuZNves82CF72kYMRMUYj8AfWbF080LbnESYouuPj1wg78951rsSGuQWL4eHwn%2Fz%2BCl9DcuZJf15QtDWQCN%2BYCMp9OrbGh3I5YjW1bO2viebYzh8hMoid%2BCteDT%2BNIDkMTh7QEhhYhDWEcB35Uwd4NKWY3epgxoQZ7TC1hQkMJk8f6GOsDBRaA7DHSH8%2FYddcQ2UU6KNHDTKQGhVw6KXX1b8It7aPtF3waIXF8yThBkjF0UPKI6dSkMXqNhzufbsOVv1mOte5kBKkDr3%2BD0HQncFImVjVqpZBVW8TrGRDBDtj92yHvgbdkmTymfgelpQffdpbQGshd6ts9vicO4TuMYAPUuMCs2m4cd9B0nHBIEybkUilOaYWAfzK9yY3DnbRxhk8Fbw9YyZiq9dnaybHNgmeemt%2FBooXHOgbDWJq7hPnrEKnHrFuKv62o4ps%2FfwovhLXodurhGhZAmMZlaVQ12km0iPJKu2gFJNihNUhUAVyeCEkCL65K6akhl%2BDQmUW885CJOGyPklgAiR0Y5trcvy%2FCZt6Ta%2BqL2LmyokpSpNKQcUtnx7YLXs5u%2BrI5OadprEWMSQzXJKikHh5qiXDpDY%2Bj1TShipxsFBYpeQTQHPLcppmiZcjKpS974Q9K12fPKskpx1HhS6UQCJwaOTrySR9ySS9q0m6cMH8C3nfEZOxR66HWjfV4dRxrbZkN1UMyMrSjKniPGAC5%2FC1GQ9sueKkgMQfPhAvPNftlzLTFCZZXXHz8xiewqDIe3aFB3mNyowoTVeVsY8IjktCMgo92SHpyl9hUmeD7b0br%2FDHDGznjeMSlMLmiJK6SMKBsBRvgJ2VM9Hvx4RP2xtv2LWFMGomVSE3BupQ80SOkolSqSgyBtfo3QoIXcIE4GYzMc2JFqMusddP7vuw3z%2BPnC4HWZAxcx4UXV6xHbiRUkzPdJjzchE7KK8TUb1JqkKq%2F3Qw0x9R%2Bnt20gooU8vRYtH5PIalgTNSC4%2FdrxJlvnIY9GeUSf%2BCov8RjlOc%2BTb5oPSMnSQzosbrptc0azw%2FVwIVOHOvYEZLYQeg4uHdZBf922%2FNYn9bBeCV4TFtKGJMgJBTKydlaS2RTlQNO3S6hlaN5E5to%2FODqg00B2bK9Cow5P5a1KVmBmwQVlIhACyrYe2IRXzxpAvZp8sH6HpJIyrnqW2qITP9Yi99bjg63WfCZ78gNQOdOArgUeL4nxtnXPY1lURNAjFzEPDVNeQwmOQKnhNi4YqL8NLAhED2aV4rG2%2Be0iYvB%2BQsVknrhKnKa8lSDm5QVygQ5EyOKiATKwzMp5o9pxVfOPAAzfYJPYoTUftdRCBiPAdoBQR%2BNkOCl0kbwgT2XGKv2APjWH9bi2kdj0NXg3uPPaW54qsfwUHUKcgteWpXCBZ27wOTUJGWrMJoat5M%2FO6u%2BSXwvpln1PEtccW2kGm8CG4NTaLSM3AoeAqZ1CTFLQ6kE5h3giGkOLn33DEzKe7IZJMqzR4MRGdkq4BaefZs1Xu%2FURqYsnzo%2Bfrc8xudvfRrrnSYkJi%2FOCIUtGbhsDxtfHjaX9okVCE0eFScvToieZC%2FvSwWvxRs9k7OEiwpIClkC%2FiOYgyGelCNZ6ReHjY4xs3%2Bgz8QqZgyM9QMcORX47MkzMcWjt19F4hTFZrDOIVCufuDpxuu7zYInJkLMe9IHZp7bXBcX3%2FIC%2FrKMzp5B1SvA5ZmT4ciyXJ6YeT46zVgiCFox%2Ff3A6pe34LMkTv%2BZuymq3Z7JkJQ2pabKIPU9SeBrhjCrV3DloohJnyrOOaYZZ%2F1TA0q0twSuMBQIIzgC47JmYJPl3X7BxwEC4%2BOPrQb%2F9sOF6EoYf8YInZxk4Ww19uUtzZ31dASVJinSXBGVsILZNZ248rS52LchlWKPgFFZB5HjeMuH%2FDYLXgy9wJQN1kbAudc%2Biee7i6gaHyEPmSSP1NEaI83Nq9corICgiRP0pjn4JkSd04t59T347pmHoNGT3I4gg%2BXM34rvvB2CT6XpIDAefrukA5%2B%2FdSV6nQYkjjZAmJTeJEO9gSaGUXj0V%2FZHylEARE5BHGUCNxtMD77y7qk4Ya9aeArl2ZqVl7XbZsGLtiNBFww%2Bd2cL7nyqB5GTl5heMCcOs3paVtBa3avXSK%2BAhtRcX0eSZMT8Mzt6yPgY3zp1JsY72msgJeOtQLW3WfBSIEpSPNtncOr3F6ElrRGkqCN9YwaJyz4ybRV6hUToIy3XIT9P3DzjwEuqoJPH8JpOYN5U8Zk31uOUgxthkopAu6S%2BPxKZO26j3tTg%2Br%2Buxnf%2F2o1erxEuMeIWOEGv3Uaqr5zkzJCiGtkXUPCMiIjj86VoxiZSlsQNDp%2FQh%2BtOn4laQtnlgB8hwdPMrI9SnH%2FDc3is3UEZ9cgx544QsesgFxNZo%2FmnV0xWbmTlOuSnZTkBZuxySVUydCELNiZFk9uL%2Fz5tJl7T7MJju9dWED3bbOqpz8%2F2RfiX7y5Ga5RDzi8hCpnIkYIyvISCz6zLq8Z%2BSClu5wu0D1BBL4SlU9Ho4TtRH46cDFxx2myMlYLPlqFcGwlekvyD68b27wodkkAOvTD40X1tuPIv6xF445BPe1GVPvSc5OClDShD0Lwq90FiHezobtRNZ1%2BjNY%2FhWkmuMSOnwPEROzzvQ%2BTSikDSiea96WMH4oC6gSbMTeEA%2FYLXzBJThZpklTqPfTVzcr7ARSIsjXyc%2F4OnsKTHR9UdK%2BZFvMeU1WDmmZlpGv2mv%2B1UlJ34Nkv9wBy6Yb5S10irnJqV40%2Fk50MUrlRWrHsECB3FN1DwPOXD1EM%2B7cMV752IN86qJd43%2BxaVk%2BwtfqfF1euHaXFFEaOafaOqk5CAGSHe1l%2FWGnzyhqfRjSICrxaJk5OyIONJPo4AM6zgX1X4wfvMJm3FfDLHSRGosLUnX1O0isp98ZVTICULNlXJp7Bti%2Be5FwcI3VoUUMYp81x86sQpKImzzbKZxTQK5GszwSsWTJkcdDeSKSJ22NOljT63P92BL%2F1iFZJcLcppDnB8mIRevYVWGZZgWGgg3circXwm%2Bo0NvWIaVOOzEp195TDK1Cp4B35akUYTKhrX340ihF6tbIgD8y%2Fg6k%2B%2BBk3i69tCUOZ6SQFnUCdNdsar4Gn2CexLpc5LS9AH4Bt3r8XNj%2FQg8YqIGLuz7Yd1d%2BmCYeezg1hg1Bkoayda113oq1lls3BJBatJkcZuByFnyFDGQ9%2B0Cp5g16o2btDsE78HoGwKYnknh8tw1cdfgwMa1Kr0w33k44VEYqBMlAleAQCWrULw2%2FriVgDn%2FeAJPNrRKKYqA0yy2iZpem0Ylh4wvl%2FReK9eekhyHdUh27Qsy3BMCVjYZTD0mgkewrDFjN6XIm9ZtPEcg3Kah%2Bu5qKuuxmfeuSdO2i8vgJmMfUM2n7KHDKoP9kN2tJYrpCIUvHwRsCIBTrn8Iaw00%2Fq9fBG6hQ4o7II4sFe24DdtRySmjtnNiJw6RCfROhJZS4St9BTo2a5t0kMLXsgmJGdHQIvaDQredV1UYhd%2BPg%2Bv2oZTDq3Bp48bL6gctTIa3ukG3Ezw2qtN%2BA7jcpIY8KiOTYr7Ww0%2Bfs3jaHcn9h8FA06JWoUMMy8OyyBKsVey3kuvf5oin88jCAIBVpJbhz%2FPDP42x0GijFnLJvsauN66IaisTlLG0VPK%2BNa%2F7I2SYVsmayiZ4KXmv6nGa%2Fpf0RsJklS7ZdjPfduCCF%2F91WL0eA398CEFDdLc9HM7WSDBrklksDM2IJfY51qGFbguewHJhEFSpQHorWIXbZfFcG4ys85W47XnUM9y2Vi%2Bi0PGduPqM2aj6BgFZWbpdGl920jwzLrRSSNahmaeeLmcEBdVDXDFn9rwowc6UHYLErdnQQcduuxfg%2FFkQ4Ulw3m%2B3fU1g5eVJt2L%2BlCb99BbjQQ%2FB4%2BdwpYiRv5mj9atwiM3Xgmuf9aRm%2FlmtCo06ynBl46LebVduP7Dc1DvOSgyhLN9%2BFTSLWi8ZnuYCmQWTgD5CdCdAp%2F91SrcuTBA7CpxgTiL1qvMoLyZ4MVfHUZosssLVh5EsXKa0aLZzu56IN5WB1h%2FIQ2g%2FEESCc1D0SQ4%2BqBG7L%2BPj%2B%2Fd9By63EbEglRiZY2pV7p%2BRB5naNuhMyAUMp1CSY%2BLoht49NvIS0CF9XKY4W3AD8%2FbDxNzHgrS9xYBQhO3FedOnpE7R8yIJnNWBQbnXf8MFnTWike56ZXtupdTLVabW%2BwRJjkTAhrVmRVsm2Q51UFzHbWQlThCQmZL46KYVDA%2BbsHbDpqJM44bK0fg%2F%2FvJE%2FjThgb0xUWlT9WVFsErZG1ooQ9e%2B03zA1nYxo%2BZ5Lbj2vPnYHaOMX%2BEhDgJ4vAU7DkY9aetEv2Yb3Ee2AJssLyc4JxrFmJxucF27%2B%2FyuvoSbzA7cwdAj4pxZ3uDAk4oaDpYXuIhF%2FcKb59TqEM5cZFEZTQ7vXjXgSVc%2BObponHU6ac7gPOvfRLrk0aBTWcIY2qvwM6Hkbkb7oM1m1b893lzMb%2FkiOVJaF2Yd9kcgTNY8AMazz2%2BuDvAR65%2BFivipuF%2B7279Oq5E6FKoCXzi18i7J61NRrqGtOys%2BpakEQrU2iRFlHhwnRRj4lZ85JjJ%2BOBrmmAqnSgWa4mSRwXA13%2BzGD9%2Fmn5TUT6fmh4aX4oskugZoSNynGnD5WfOweuaXOSIl7AMnnIKD2j8QK5YQjQbuzNlyxt7tivA2Vc%2Fi9Vx00jd1y69MTRS0Rw6BaonuJFKGNdG2pETsl4kSPwc0czwHB%2F5oBP7lHpx7okzcMRedagxTG5pIStraHpoVQWfuGUp2pLafgJICoVZEMXYb5u539pCUvBfPmUOjp7osWdZz%2Fas6WJjwXOfK6B%2FsODpBS7oquLDVz2H1WkT%2FFdCDp6t3ez%2Fp7PmUStZwFJh8xw24lVRO8UcIEgMar0Eh09JcNHbZmLvOhUH3y%2BZdTk5AqE8qRgX%2F3FPJ%2B54pA0hbYXtYReN5NqPjNwxDm344gfm4NhpdO6ESNRm%2BTfSeNnj4mYMFrxGfwaPtVXw0WuXYD3GsRl3l9bWEbk5IeXUtmWSP7B5IZdWBe5EwsXQEFJeAzepoCnegKaaFGe8ZW8cu2ce4zylitFl1lyc6kok2s%2Bz9uGOGOdftwRtUa2WY4VXX9ok5DUjcWUa%2F4aJHvLU%2BH6G8M1QttkZb02bfWElBR5cV8Enf7QELaYZvMWX%2ByVdwU4K8gxTwz0mXWxuQ6rmNOFpgokl4B0HFnHSwRMwtUZZr%2BV4oCWQekdOCirCXmlxiTT55QT49P%2Buxz0LOpA6OVRQlG4nfuZIVTUp%2BP88Yw6OHKd8etkxsplzJ%2BIe1MdN86ZoOoP7XqjgoluWoQWNyKWvAI2XgDxCjmaePYJk8fDqEAUR6r0qJpjVePNB43HSUdPRRPKC1CBPTU1IuK40p7KYtv7OQ14aRVNXOG1NFODe1hw%2Bff1jaMVY7YIdQTPP2282bfjOR%2Bfg4BqGc3wG5c0ZtuAZhvxpWQWX%2FmwpWtD0ihE84U0ReWm8FG5cxli3jP0mFvGmg6bgdXsWMS5vkGe1zSFvflZksTV2m0qV%2FIatWzKPHsC1rcwROoyPi25bg98uJ6iCKIZIQryRcu4muO245vx9MCdnhIOPDa4q%2BE3i%2BIx9QbJ2UnbVEj6ptu9eHuKzty1BqxkLT%2BhQRugSqJkumtT2xBzy%2FjgOhDeokCWCOcXH5kry79Y8iWm1XjfPMIZDMrcg6zi1yeTBp2ZqY3H5qH7sgfXgaaLjCD5CNPm9aKwvYXJzDebtUYfXzhmDGbVADaFocm5rri0RCjMfUUx6k%2BwzsxqGrhPhKYJ%2F58LTd7B5vh892Yn%2FvLsDYaSlVp2pMIR3Z6doSPLHlnQzFF%2FWfs3vnOq14Ybz52KPPKHYUb%2FGbxTOqWuXYcAqws7I7BPptWnq%2F7A2wqU3LkaHM2ZQynIEhJ%2FVJeVuJCrWKhP7w6SxnxXCWEAfYjVdnrU6MSLnkkKE6B9dWEEiMJUZBXDTCDlBDmU5cA2T2EGqhMh6ycYhTNnhE4eo8V1MmdCIffecgtfO8jBznCUgTMg9JwGdfaeWN%2Ftve4ilGKijWVMgR0mMJ7pcXPjDx7Ci2oDIqVF%2BoaGcO64NIs3wc7P0w7i0Cphds%2FwWXH%2F%2Bfhif81BkZU5OHoV2bYS5GxB8dSPB80T%2FW0eIf716CdrMmGzCxghIXXPMypCR9tOlUPNFkI6DIFZNp6mit8tyMSdB5DnXwURorMmhsbaA5qYGjK%2BLUedHKOQM6oouGmpceDxQuVEsmYPnGtR7CQokGfD4e1eYp3zXQcEzKPnZZCkFllAGTFBTwwk2HSCX3jbB06PXbUNl0twI76s1Bb7x27X45dMVYfc2NFdDXYM0Xj31AfyeherKvc8ttuGac%2Beg2XdREMHzezVBtBkCR4sQvEnlYOEMFpIWPdEd4NwfkN9m7MgJ3pp5mnamKzVlaVB18tL4T5lR7J6JUUQfGmt8TBnrYuqYGNMb8thr4hjsPakWzaWsKkUVVudFiRdZo1bt1jajjFtu0%2BkfTLCwdKo4ddat5SQkmYOMUOGRQ%2BCETa5YQqFtgUsBVCZCJ3zkZX2Vs4bW9N4VVXzilmUIDesgwxD8Zhsj03J9r3JmGxxY14Grz94bTb6DHI9vOduy%2BTebwEW02MLzQNOSJN3jubSwN8SHf7AIa%2BPGofbjsH%2BvPWAEepDAn0ugJYsgjuHkS3DDMhrTFsypD%2FHOI%2FfHIfvWocbXxAo54PkITqygTkmoyUZicoVPQV5YroJl1nKJfNGBCWwhlgXONgULabatWD6T7w4DuIJZskUafiY%2FwyJch%2F2Q%2FS%2Fk8Un3zZP0qQiINXQnwdI%2Bgw9cvRgtQakfdj3U52umT7F7BLzoNK0MpK3vPrSxGz84fS%2FUe0Yccmms8fgMg1C28sp%2BNtGBHcR9wdtcXo5xzjXPYElljGVoGOrWhv69fouj81piJSmWSlcaohFdOH7fJpx4cCPmTSmCp58waGbIVBGoHtZ6xqmjM3Dm2iKLhTZpvVF%2FL6QNsvj2PYM8P9uBrLE0g3iRjrD66ANlhAP9gEm1MkOn2%2BgwKwRVLZL1FdIInWke5974DB5aV0JMz3uIS9gHBEyhuQRugIwqXXpoxcTFOHxcD773odmoFV9HnUu1iJsJ3p491mBkgQgXY0OQ4GM3PIPHO2oUSz8Cl663UlbTg%2FcNe8Eq2H9KHh983R44ZpaDfEwnToMiFZt1Q60DlIEUNd2pot3UWGaEvvopmeAzEHmGZd%2F4gQRvaDemlNbtr22i1o7BtD8dBte4Zu%2B0lh85RMVm9X1yDfi4%2FHcr8OPHQlQdpWl%2FsWtA8OxnGKge0jKr4pBZLMRb9nTw1ZOmKwhjwHW3TRybIHAUWJFxTNtFSYHuOMWldyzFH5YShkUGq5d%2BSfMfd24SwI%2F7MDEf4Lx37oXjZuTR5BrEQRU5n6aJZjubxzZQMOnfmDZSZgJESIMG1L7fNG%2BcBLXngrUQWwtO1WXSK3t%2Fv8URjR%2B%2B4Jnr5L1RKNRqHT1KS51Ks%2Bn%2FLQ5xwa3Podtl2fvFz3nd%2BkTkavjLS9xh%2BmQchpiEKKQVfOTYyTjnn9hNY1HTDP2k5r8VjRfwlR0ipCMTUlRSg%2B%2Fc34Hr7tsgfKsjddHbduMK9sj34NKTpuPIKbWocRi704wzOcyKkiX5G6TzAxCggTvRLZtRhGYSszYgC5zFTCrQacA6vJjoBwTfHwL2b4bhu3dCNczJWtJfmO%2FPm3NtuQdW9AJn3bAYy%2FtYtBkaepkBYrXhjW3T5AemEoWoMVXkq%2B344ikH4W0z6DjbzSF%2BDWnoXkTwEjZZHnbuIs5Y%2FdliB1%2B%2B%2FRn0OfWDmisHDPBGima1RC1yRtU8oDsK8VWdnWxacMHbp%2BCNs5vlLGcMziYOxR5qakIHGlk48qBdJ81B8mAWCj4o5thYywe5ZfYXW9YrSSwMshq2mVEeLtsqek%2FZ0TEcP5yC57OSCo4BIllEdGnUe%2BgGcP6t6%2FDAsorAsoZzKQSeEy4cYROn88jxpjXoQ03Qiu9dcBgOKXJQsh5bwpRpJ2BuHM71C0kfVpwtmxCowMXTvcDZV%2F4d7YVpEldTWzk1UcZw2vNVzYjeNk2PAAA5klOYlV1x3PgC4vacMMC4tBufOW0Gjp5SQh1LntxuEsZRcxXiJPlDm9HaXJiZ4AfGhWYbcNPX9m%2FMFx1hN%2BhdmUQHb157jgz%2B7OEIXl%2BvzNP9KBuxqrqZSBJ52V2rccdjfagO16Ja2XDNeb4HDoEdVbhOjFnpMvzo4iMw2Ya08tLM%2BR2s8dZl6jfxEujbB%2Bau6jMu1kTAWVf%2BHUsxTRr0aIrFKAt2TC%2BaEaHjtOaHH5JP2ONFcl0fnCspkYLnIx%2BVcdSkCJ8%2FZU80u7HAk9LEV8Ebzn%2BlRtgQakte23DUYld5jVglDQ9Z5haCIslKqqdNwV9z%2Fwu49r4elJ36oe%2Fahq60nMx%2FUFWqJq%2Fnvufg9Q2r8Z2zDgQ%2FaUsbc%2FMWKjsWVM5BCZ80eVE2HnoM8K%2FXLcBfW%2BolKJEghiyLUvnJQqWs41Y1ng9L1gZOWGR6kW27pOWm8BvSTnzxXXvj6Ll51KWcNkUTk5MRpMYoWZ8kOvqpOodej133FXa4riHB%2BCDBizVz0AvgtodfwDfvGZ7gFWVL880JXrGk1jntWmoaJtXV8BQAACAASURBVMXpBwCXvHmSDDceUvC6aIq%2BUYhwJnhm73yUia3%2F%2FXrc8EhF2KnTMJQZuLGl39QTPCPQ1y5bbhpWngg05hnD81u6xNIQB0108N1Tp6GR1Ntp1TJn%2BTAOk8TUCIUCU%2FDDiZR3XaHbdbXHBK1k1mSqNXIV%2FC%2F%2BsQpf%2B10X%2BujZD3Fl07DZH8%2B%2FFxKOOOOgAw6QiPGVd47FyfuUSCw%2FHMFnhOQaxkh3xqCeq0pscMczHfjKbzvRQwcv4jwVliTVjHFncRCB%2BqSkLVWHhl5lxOy6yXq4EpRMBWcfVY%2BPHtYEpdtX713OYSZOrJnPsOM7aCrXUOv9En%2Fff9JbwbMYpTg4gjD%2F96l1%2BNKv29Drjhnye7Ke%2BoqQQwPFuMwRECibInKmF9edNh1HTOAAwy0PKR5k6jXTpaGOXgNaZn3YNMVfVkX4yLVPoqdmloy9Fry2nPHaBRqYvOLL%2BCmOnve8STH1kmlSRua6pA1fft8MvGXPOkX5We9d4uQslLTU2%2Fz23V%2Fj1YMXq2i7ZqkWUUJMPlBl6XtRCz73yw3odBqkoZLTK%2Fjnlq5M8KxrUGko%2BHwaoGzyKIbrcPuFh2JOTcYpvLmx3xhlyyqWzf5IhsvixrRLhtKM8Fynhw9%2F%2F%2B9Y5u0JE3OKciTIU7pzzEQHpqBOGVuxpJqmXj6TPhy9pTMqIjQlLbjqzHk4cIJUtuXc43fKv%2Fp7yhQXIJ09w3Gdh9STnfcCWRLrAYvPYlPGGQaCz%2F%2BnxR246Odr0Gkahh7SZFk0SINCR5xUKCUTohKn2Cu3ATd84jBM9uj0ZfWFjZ99M8FrH1w22oLhBuec0JGjECN0xj4uvvEJ%2FH5DkwARXBOjSiI9ghNSEhsXbcOlTaZawv2IdOasvkkSI8S%2BDRVcc%2BZcNOc15aIde8p%2FK1zrdsa8TMFg18pu7tUPCD4bq67HmzjFUj1xcP8LvfjYj5egyxun07RlpJn%2Buemln6fUclkEVqD%2FFFfxvv19XPz26aizNChbOuU3EzxLsLxkvrm80UPIeNwmVlhd%2BvHD3fjqH9uQMu4yqYzNpmnPk5oDJUt2aFEw9vym4HMieFbiqnjvYdPwuaMLyJGTXfxIWo8Ehp9Jm%2BDyEwN40r3y8hW8ZOCsZX2iNcEZ1y9CO%2FSM35rQxYOSEWaaqaStZfKGVc7atBffOXU2jpgCKcUqs%2BXm12ZnPDV%2BoHqkekjBZ5uBKZbHuxKcevVKVIg7ZhnVK4l4ycnC1CHPcH4Ozbxk4QgaFsFXBU1TRBlf%2BJc5eNeUCL5YGG6gQG4cCY29L10sCavXqQMnISXzMApgO8%2BSD%2FnN9nS3R6ZWAbR0wsqZtjYvD1x8%2BIfLsbiTnPPMXFoeIYFsaWis7dTqExHW4SWc5UflLMjnjDEd%2BPWnZmOSxTJsbfT6ZgSHWSJmcFIyy0jLdwJYESb40FUrsaZXa8J9ThFVl18cSEqS5ou8d2zWzyWBZOHKTq16%2BCbGpHQtbvjUQZjlDj6BbIJDUnQKs7KxhWLbdvMzfsu2Okv76qqTQ%2FD829bjgSVlaaUmGYUqUwEVUwtjAinAUDF4thfisvhLHPESsYsnqWLWmBg3nbsHxnFOrTjYQ57xQ25aa344WizFBTctxt9XEbBRQOSw6UDJeJilqzglhA6x3NwIiqoJHIKljODajpxYwZWn7SlZJXXtXr24AlUAVz8Q4ep7n0enqZW6OgEU7NVjxw3XSY9gtahUKl6R7eWrSXvxltkuvvSuWShatg0Fnr6oVz%2B8xecZXYaH7%2FxpOW54sIKKnOlqh2nWKWwWcQLHFdZLOnRVw%2FwRb9BHKe7CmYe6%2BOTx04U7bzgQs%2BHd2e7%2FKnpUj66P8LHrnsL63CSZKkbFiaUfg9ERz3E6vuS%2B4b%2F1qMjIqYpRG7789il417wG8RqYNRlmAmcYi8cdCA93LS7jwp8tR9lt1MlIdofRcSu7JUQOTVGfJCoqTo38WU5dTMJ6XP6%2B2Th%2BhmehR1t2PoZxJy%2B7l1BYnVGCc65%2FFg90NCBIPRQcwrd1ZJue8IygtIClwxvttBrjYGzSjp%2BfPxf7lEJEUtr0Bak8zJTtEOvJECI1WB4CJ3%2FrWaw3jVJxYxxP%2Bg3SaZJ0j0acu1X5czhmjIQBORxSuwHfO3tfTERVExlyBg1df37ZSXkLD8STPkiAy%2B9cihufNOjIN8CPea4rwCSWEJdAChIa6kAnyaPQq3eA%2BY0RrjtrCsYJrFip0Iy7ZZ3fZvZqAY6kKSoGuPiOdbh7SSyDhDNgfz7tloFEPM2JahRkKg0Phw6nIS46rhEf%2BqcxgvNWsEUGb3wliPbFn5GCoi7%2F%2FYUQF9%2B8AMtz02XMeClikcsVxdKavohUNgGBHQzlGEp%2F6k1NeM%2FB9agVECpn%2BfJlHAM7Amc8TYjLpsk4xA8f78Tlv%2B9Bl0uaDyNeJR28PrckDgVr9Z7rwol64JoUzWjHtz80BwdNIAcTt0ZkgYqvajy3RCZ4Fmwu%2F99luHUBWTQKYkXFYTZF0XAPZe3IyWopSNEUt%2BHaM2Zh7oR6La5JpB0Jr96ImHrxKdMEFaT4%2FZJe%2FPutL6DXGydnfD7RDpayU4OYWSRyuSUx8qhIDP%2BufXO4%2BM0zUOfTK2UP2QBr7qv6roJnPwE19amWEJ%2B67hGsR7OMb65I5ERHmh5Wr9Q%2BcmkgRTHG9OPRjh%2BeMxez6riuiXJWG44cHVZ1bujl5wd2J8CCtghfv2MxFrbnUE3zFgVr56Fa%2BI6gweJYCPSn1Blcdfos7FVg4QHiuORlTNmr2j541QWeESeoug5%2Bu6AHV965FGvjegWy2Nm8THkzNV4bd4slYGGsJunGyQflcM5RkzDZYzYvheNyWNEQ1Tlbf7OZocH1OVtwVaprsMyyvBzhvKuexpLqGKRuzrYRcxQmkw7E2ehIawo9F5VR65Zx5gkzceb8OpTodMQpkCsg4bm%2FaUpxS3aJEYPF3wmOPgO%2FW%2Fu40Vu2WM0ZDJTKlnk42QOLS7LhqsDA%2BwvQWfmATo8CPKXTdYAcTdLZko3MaM2Gg56VCia7d1L0eg6u%2B9sa3PSnNvSigIB9g0JOxbm8JTRE7WJdCckmr21dsB7HTk9x2Sn7oRClcH0trmXtWiLJDMM4mK9e%2BTAGwYY5Q846EcJxjgTLuw0uuelxPNo7Dp1JLWrSPmk7EsZqj3n1GGG1AhSL8KM%2BTEI7TjlqGt51WDMmSJnWlgol6aCDETa6tiZ4aaAgwoSbQMGVNGXSE8eHFDwDE9hbsiDZts5gxsOt7tt6ReoLtRkctjHTAZPB3tLJI41QaUWc18ipVU86igWgQhNMuqM48eAQMDEMwSv9KRtHiWrKoT0FHlneh%2BvvehaLWmL0mFohUUj8GqDcBr9YlCwpogiFpE9KvO%2FcM8GF756NRmZGbV%2B8kmUP8OduAr2ymm7Rm9KTyR42Il6ZWTLAD%2F68Gt%2B%2Fvwcdzlh4ro9i31p4PlOGBQRhVZiTicQjHGhGbQXvPrQOJx82HfUKNOnvNc0JpEtrAf3mfotKqIKOhYbVlfYn14SK%2FZfqlPa3SUfJi41WtDqpm2x4pT7V70irg1JPIGSMG5Anp4JFyPXLe%2FFQFeQstzXDWHbxxk5BahEJR6p7wykt8wOZjWMiltZT75afT6DGP5aX8ddFbXhsRYxFLWXh04viiB4UjFuCH3ZLeJyvbsAVp%2ByDY2eV%2BhlIs0qfPv6mBIfiFGj%2BXaE9nDahLC5B5GAVgA9%2F%2BxE82TcO%2BZoGIeQd4%2FQJrIrTjvmFhbQHDW6I1%2B%2B%2FF975%2BsnYqx6olbNee9zJicvlpFHsH0G6mcC3hHM3qCZsqAS6BpkI5gQFki2LOzyBDu3J6Cv0gNCKuSY%2BhQpJtZ%2FHmbinOeHxpzLzvriV8ylQm%2BEEE3bfau8Fm0CHvPoZxPWYEe0XA%2BcgclxUXf2eq%2B9ehZ893CLJsdQvohqxRM7CGGloHRzbtB7fPvtACe2UUDo77lSJN6E74xlOjdWe8YxxnuaCTE03P9GDK3%2FzHKLiRFQrVUReDbykIoxPY70qPnzsOLzxgAZM8FQY1Hq5GRuoDGDjdah9Zi4zuQ8UhjZeHpo%2FNlYs6nPws7%2Buw0PPrEdfNUQShdhnD%2FbXjccb96lFjTRPbj0TOPikH94Jz83Pd2UOEoVOQbD4QRxiHl2pi6fXJ7jtz8%2Fj8eV90t9S70bYd1ot3nPMTMwZ60pfvQ75ffFvlQSObctmwQsWPZsihzCho6a4CKZoWyKDr%2F5mFX65oAeRXy%2Bp2UhazlOYfAHFrufxzbMOxRumGKIdYZj%2Fpa9hWUk3qcenCIjmsOgb6SwV2q8E7TFwzg1P4fGuBgSVKor5HLqTHIrMGka9OGKGi8veOwv1JkWJ5QbeNM9G0nlx9Lngvft13cKvtRqt%2BpTVAC0EzJok%2FkGH8tFVvbjsV0uxoKtOUr3SLpXLIYpTjEcLLnzzVJx4wDih9RKPVs7TjUWdnfTDswtCe2U7XjRmJrevfLcFQHTCw2%2Bf2IAb7lmJZUEtYr8GcRAg7%2Ftww4pwyV52%2BgE4YHyNpYF%2F8fS0HiwsZdMX0k5YqXRaCJpgIoRNQxmslgUJzrhhuQx1FuHGbCk3gsLJ%2Bynesa%2BDL7xlCuqcBI4tlsHlKzfVeGqWBV1wYTPB8yZWlCOcevUiLAlJd6Y9YCy6%2BHEVk51WfOW0g3D4eLY6VbXmLGkj2jjuDD6ADiEU%2FRGCQDWbQipk%2Bd369cF26MpnpEBbYnDhTYvxwKoYnahHIefDiSpSh5ZyZNSJWcUeXHbK%2FjikSb1%2BPe4HC16%2FOwsgh9Z4dXI1UWLho6Q9S1PkjBHNfLIN%2BLfrn8LSaByqZNowVZu65tnrYEzcjrfONLjs%2FXuiJFj1ob41ixC4gnZkwSbQcnkiGS%2FPJhUHV%2Fy9gqvvW4PQqYUXR7JhiIgmSnr%2BmC5ce%2Bae1sljP4OL1OV6DyV47aQXET3VWcHZ1zyPNZgonqz6%2BI7MODt%2BaoyvfXA6GlkmlJwycbNaedOOGEXkZSQiynhB0AUrTVmKIetp1QfLogmatSdbY5x2%2FVKUEw%2BhkAx52qsuYz4U90femvOPasD5R47TkEpakwa3zKjgs2soESjMnPlwUrhnYVGKgFCwhDBm4Pv3rsENf%2B1Eb64JPtgaFSFwCiDHDq0kv3BCrhvfP2Nv7D%2FWsmq82CFvPW%2BZUmWbV8WttIOcZR0zP0EIFhMsi3189AdPYmFfk5RuBWZtiGp2MZPYu4%2FNxVSfJfKKOKXCpSeYv6xHykKk%2BaBy9tqpUhRdr%2FFw77IKPvPT59DhNsoDxWz8kzkoCc57bQ4fPXIs6u1Zorl624JlH5T%2FVo57BWEqiHLA9GWTLsSdErV0JKLgS27583J8%2FW8h%2BtK84P88YUFIEJGi21PED%2B%2F3pD0DfOk9e%2BvYn0S1XmPXbLUHhD%2Bk4GWXUHtYEFGyCDJYktGCA7N7XYNP3bgIf15bi1gGAVVkBhwBEwWGVlEZVS8P4wb45FEFnPHaieL3DCX3jcAn%2Ff5YBoPj4%2Bi66cGYotc4%2BOIdS3D78z76nDGCtmWWlOs00WnF1efvhz2LHopE6lDdNiMxtjakv02agrfORaeTw%2F8srOIbv1iIHlMnWG0K140jiRs%2FdlgNzjuqSUmIGGpJiDWYtIBnOD9PBw4LRkzOrkwLBmm7pIT1xJfiowFu%2BcsaXP5AjN7IkZNDCZEYWhkYl%2BPPeOYbvH1GD76aCT6LsbdX8BYNzZBKCBnSqo3jCxKh9DguLvrpcty9XLEGxlQQudwYeeSSFDVJCDL1GFPGJ4%2FI46wjtatlKMGrLVVPXC%2Btt%2FfHORYFRSPAmKLP8fAfv16Fny4g8QEnUFEJGO4aTHBbccVH9sWBDR5KBMJy%2FXzN3W%2FWNKnQXztPRvhgDLocH%2F%2FzXBX%2Fdftz6DBMHxL9Qa%2BfPizwscPz%2BOhR4xUlK6Ymb9kqRM%2FtA9juGGmLUmiVHiTq2PVf%2Fc2pagP4m8fXBjjvJ6uwPjCIXXaEJhIasQjEuj8tSTGJcMbBDi44bqqlHLPT1jZO6w2x9IN%2FrR695Lzpk9het%2ByeuoyLa%2B5dh1vu70SXWy%2FgUFHGjOtffFQXE90ufP0903HE9Lx43kNdg8Q9sCSWUHrwUcXv4XleNQZf%2BPUa3LTACCGUTqdioslgvNuGKz8yB%2FvXeahNAkSph9jTKGuz3jlNjBDlbamxYGRs%2BF3LK7js5kVo8ZskNctSYUguV1Txkdfk8NFjmpWJimEDGx2Fn3Ooxxze79viFOde8xQe7yiiI61BgbRkToxq6qOaq4UT9mBy2oKvfXAfvGFa4UVhycP7RjXzOqRBkSxyzsum5GgRYghzWNJi8O%2Ffvw9LcnvIv4mSzss4l1Q2JEEph43twVVnzwObokYUbWQnVFQS4DO%2FfAG3Pp8H00fkwqHyJY6HCU4Lrjp%2FX8wuUONDW7eX5M3mglePz5IKWnMckXS3rYILrn0OLU6jZK9MQrx9QRI2%2FzwHuPSfp4EJS8KphJpGPIjhL%2FOLvZIe9GPtAT55zQJsyM9AWO1G3gmQOHlUkhIa41Z88JA6nHv8RDQMau0eKkU61N1lUXwWiWj3boiEbNXIoWwMfvNkD75zzyps6Csg8Tx4XoKEY8bSBE1uBy54x2y8fXatdALLmozQRRnQ4nYa4Pzrn8V9LfWWr1bTtCzoTPZa8cPz52Ky8NyxfkLnTnMBW6A7yzo%2BaDako1tudUl3gNOvXoLVcYOcd6Gpk7bnmqQDB4ztwhUf2R%2BTrUNnKepGrvsljRAlKZ5siXDL31fjkXUFrGjvhRtVceDEGpw8vwZvnteMWuH80PsdnKLc3g0goBM5X%2FXcdWVBCDBlMsSTnEdfavDAohbc%2BUQ7Hl4Vor2aoC7nYN9xHk4%2FdhpeMy2PUrUH8POAwyrmSFyaY6Aj%2FnwEnPPtJ7AybhYnk1kRoVtJDebUdeGac%2BZgvO%2FAZ8TF8FeO5y0IXlt7dBY8N7ikcNMYrVXgtBuWYEFXjbBXV0y9LEYx6UGT244vn7o%2FjpsgJ6KNy4ekchn2CmR%2BDpMbPSnQXgEWrwpQrXTj8P2ahPqMMudDb%2BQv2A0w7C%2Fa9IWMyIh5s4EosxTS7CZkxaE0vbG8XJGCU4q1PcDSlT1oGuNjzsScIF2lYYR1BJdO1UhpvCKaOEL8pqdifOfXC9Hr1CHkjEBmRJkxRYIjp8b45gdmYAy7kaMKUlb3CMzYkqnPerq4BtzgNA0E%2BlUTHx%2F%2F2Qr8YYUyIAcJw6gEBTcBwk6cetgY%2FPtxzXZ61UA4t92LPuiNWlliCEk6cFths1h7W6fTJpBNBL%2B9mi5fbb%2BTiSe68XIEUvDi3dn8AHv4pcmUi8kyCpebmHdNV3MODKkXQ7aL90cwI7EiCeIoQMUt4BM%2FfR73Lyc3IHtR6sTh9T0fubAT%2F3JYLT5x9HhNZWfzboYW%2FACVkM%2FSInK47rEqvnnnclTzymfL6cUcYc0c8kH1rbjhrH1RcshXpwzMI7W%2F%2B1OtlspTja%2BKQsOdgTabEfInreCzAYADmUc5Rvpdb01OcUOQuYt%2FT0wOoWWWIrRM5ktJvWIYCZxh7glpLosTrIkcnHnNc1je5SPv8tghtXpeQt0x1dW4%2FMyDcMwkyFiSgRnh2pGzxaHC2fcL44KA%2BMsyZGdB4OOsKx%2FBOncyTFRFwXNRth87zWvHf5%2B9N%2BY1KA2qaxMFw3yWF31ZP%2FxBFtzmAu2uIvmk5rRVSCO33bJBA9zEKm0N7wa21mAuPA5lZNmWGTeZ8iHEyvQFiEDWOY8jtSkFBZUC9y6r4rO3LkfZaRBa9cQlGopHSoD9i%2Btwzb8eon6XrV%2BoB6SJny07d3YyEoM6SRlS8Cig2zG45OYl%2BP0Kku3raSqcd8R2BZ04coaLr75%2FBprItUYhjFhvs%2FbTau1biQQ0qauD%2FfRO6LzwF8OJloezHRVyob18avtThxrMS38mR71VDl%2FSjbwHaj0D28yJYhqbL%2BYRufm8vuHcyaavoW1Z0gdcdMMTeLK7SaKbEkeKJwmqjouSF%2BDcQwv46FEThE8%2Fs4hqH%2B3abTpGXHam5TYfLHgiPLn8tz7Rja%2F%2BZp04CiEROvRU2SfveyihB586qoD3HjYR5GfMipkaImYHp%2BWRzW5gOHpgvTuaUH6MVA%2BtuZW%2BTXu6al%2F%2BSOkVj5MIJsk2EjMmXHIKOG9Tp3YOvOw%2FaRvt3yQ6DEDJhLMzbzhH3%2BAkTSakgRSXPj%2BrAt%2F53WL85NEKWrwJcIyPfFyW6RjwPRSSTlx7xt44vFmzZEzqaJPlQG1%2BK%2BHcQO%2B2vlhr87yer6T42Pcewsqgrp%2BdifUetkYa38N0Zy0uO%2BUAHDIOkt0TxniZb8530%2BwBoSvAakHfapPPEMKyq5GN07SWV7eOXc3%2Bnw1ndYelZjpsUdE3dtP2T8fmgto0nbUBOtnZMkPbEpZOotSU64C2bf3L9SRW3yUDbtBp5E9IJcPJVwRi%2FGZBH772q%2BfQbZqlqyl2lXW7KMmbDsxpDnD9WQdgTNwLuCRM1PqLLI1kZTdJ2Q5nPbjb%2FrC0F5%2F%2F%2BWqsi2pQcjlVsSo582qSouQGmNvQg298aF%2FskTdweGw4jhQ2mMfnt7JsyH1Ap9EQLzaU4IdzYy%2BD1wh9jNTNOYxBJ22kBF3xOEnz6HUM7lpUwTf%2B9xm0xGORpCWkDmlNdchZHKWYUtOH75%2BzD%2BYWUuEjEJjYSDRUcMe0xcDHf7wU96%2BvgctKXFiWm6Pwk6gPec%2FgyD0ifPzEaZheclGylHkuc5pSNLFtU6wFSIZvpMzz7i59Dj5iO0UexM1Ids5h7Z%2B4egd3PlnGd%2B5agnUJsXQslxelaE6ELYtrOZPipPlFXPKmCaixZeEX4dAZPFt2GAuX0LM1%2BEdbhLOvXYwNST3yYvVSgf6UnAoCvxam2ou5dZ04%2B5iZOHrfOvhMsvA%2FSR7YMCzL9I2YeR7G%2Fe%2FSLyGwlGAOtp9xDiwkJbu8J8G3fvoInugah3VBHnmHr3GRpBQ8QZ1ksY4wvz7Ft88mWSSxDo4AX7emUtvcO0fmKp4XLNzc8Xg7rrhrBdrd8WK%2Bc4jgJ1UYarbMW%2BNIrioOnVXCEXskeMfBk9EoyXwFd2Sx7av6rruRx19fkoq%2BUxeeXFvFTx5ejQeX9aGtWkB3VBQkcd6poJzkBYdQJao5iTA1XoPvnX0A5jbm4BnOuE3gut5WQT%2FbLHi6MCz6sXBDbNctD27AdX9tweqEdNue8N7l4opU6AhG5IZghq8ubsNh4wN8%2FgNzMa0kvbXisORscmOXVsQddHMUPCd%2B8Xp8ZS%2B%2BcNsCPBs3InQKcGXWEpE5imciFiH2mU43mOmsx3%2B8dx5eN4WDESXPbBM2ygC%2BpWrZtgueJl0QmEp%2FXU4d3PpIK666ZwVWOxPlJnP08dm8L1UOpjMVilQXtOKCt07A%2Bw5uRDHuQSI4Ne7vV3vkNW7g%2FwKU0zy%2B%2FIvl%2BNnCFH35OhhSntB0G1dYqglRz0U9MkxpulmDL3xgPg6e5INUh9rqwd1hp4GOFBUKYaY6%2B81IixTROH0G%2BP3CMq749WKsQLN00kbSQBAhx5EjKfH0JeTTEG%2Fby8UXT5qEuriC2PWlG2bksm07SDVH6WskgExjLCu7uOi6p%2FF4ZYJg9n2uo%2BMjrlQkZKbW14ftOGh8gE%2BftC%2F2avClGCQ4R8nD8AaZNbSJoy0kz7dd43lzYQzjOdIDJ4B%2Fx0PVMVjYA%2Fznz57D0pYy1mGs9m0LPztQcYvC1Hhkcw%2B%2BccocTPUJVlDI1Ku%2BXZYp4AGY4r5VDi65%2FjF0%2BBMQCBlCghyRRlEVvqkKa9ib95uMf31bMxpTzrhnDi2Gk2ON3oMbEwTDNqxsK2y%2Bwtss%2BFjQq3YIoMmJN0kYc5ySFs1Ba1%2BEv67qwTd%2B1YrWiOe%2BpjIDl31vwLh4Hb515ny8ronEPtpcqeO4MzUa3EWzDeDIUdLC0ftYha%2FzyhpJLGIe33%2BwjG%2Fd24bAKcFLeqTilsQGBS%2FGgRNdnPfGZswbX0KNm0pKlplW7Ruk4HPif7GpaGCi9QgI3uaV7ImUJWUt77pk0gx6kxSfue15%2FH6pi4pLbCmJjj2hQ2Na95MnTMFp82uln16Ji61fn5Vcs9XmmWZ3xED9bfREMZqfrD6bilb%2FqkCKMNVOFycNEJo8OHrxkjuW4O7FLkIhus0L5QmVpDZuwdfOnI%2BjJzLgGxitMhih3D8ta4su3cATbrPGb21xSNDHS8h3AfzsmRSX%2FeIJtJtGJG5BLANJdpM0wrvm5%2FDZN09DnbQQ2%2BpX9sFSZMu0fqC%2FZvc%2FDrTGOFAfS5DEbPniHDyOD9EzenUEfPTa57CgqyhOL4XO4ksh52JPdy1%2B9IkD0BRG8GRI0%2FZfIyZ42cSWd5XHwTMVg098%2FzEsDhplZEaRc5SjMlI%2Fj70Knbj24%2FMwISFJguaRs0t1f1A71Sa%2F2f5H3dnvtHNhpCnVIoxtAwrHubFm7yUx%2Frg2xadvehZt6RhZmzgh7kcBnO%2Bfk%2BALb58iiKOXWvgcEcFnPRlZGZY7lzNT%2F%2B0nS%2FDH1TlUYw956Z4h0tOgLunAl07dHydMc6REM1jwqhN6WRY3%2B4rh9rTvbAFv1SbKc%2BrUHdvKRYIiELxZFCo42rfP%2F64dv3qiE%2BShJw%2BttIOxRJYE%2BNyxBXzooEaBT7kvEbI7IoIf%2FKjKVkEoAPDNP76AHz2SIGCFS%2F6jhhuB%2F%2B7bFOMHZ%2B2FcU42ZVXNu%2F7LTp4agF3YQGX3N%2Fj6jFbwdIwFEuULA%2FizLSE%2BdPXjaPMnSTVUvR%2Ft3xsbt%2BHK983AMdNzOmbsJar8iAu%2B%2F8FIvL%2BsiktvWYhOZywMKU0JSSL4MIlRrG7A906biSOm1iDPqp0AK6jmrB3rSBL%2BWyfEZfiV3VfwQvMk2kuUrmbTmNkm7TsTI2XXw80Pr8U3%2FtAlvL9q8ZQEmk0kBxU34Ntnz8cUSXkzjfLS1mJUBM%2BbZpJnbQJceuNC3L%2BhJF69ClSpzotRFz5wlMuOsAAAFJ1JREFUWAkXHjsJtQlbsZhqZHGByb5CP8RJDXzW47qrmvGh70sLp%2Bwy1uEB1FqxcXaYcUsKXPCTlfjbKp31IQokRa2qTI%2B88KhGfPC1jchJuxidwV1U8NTRvgT4%2FfNlfOYXL6AvLWijJYcTCeqzivFuD64%2Fbx6ml8giwcflohC4wIXJYtyXh%2BClU7j%2FGa3grdCJz71nKUPgheg29dIaJb2FZApN%2BjDe7cLN5%2B%2BP8ex6de2It11V41lL5lm9rJzgtKsWYm1UD%2BacCiRNiANhsy6lvThzPnD6CXujTigULM7NNlVmUKH%2BLruXtsmHVstRfMVgUy%2BAUWm%2FZmYmRWvq4IIbF%2BD%2BDeSyY%2BjLpkcPVXIMxT04ZmoVl39gHzRwM1jF0cTX9l%2BjYuozLz2NyWTt41M3P4k%2FrSyi12uEH%2FYi5wO9IcuLEfYtdeCb5xyAyXlXwANG2I2ErlnNnfyRASy3%2F0F39jv5GArHVzCKZCuTRGhK%2F7KqggtvXooup0E6YBjW0cxz6nQp7sWnj23ABw%2BbgJyshZJGKQfw9mvCqAleWttJtZWkeHBtigtuXYwXojFyw8xSEXpMkAgnUHz09UV86PCxGCvz2ukDWMFLIwPdO%2B3K3Z0v%2BjzMcSkdTIw0Yr0jh%2BWhwSU%2FWogHOxqQRJGEasyHeiaEl%2FRizjgf%2F3XqnphKTKswfjG0iwTttMsJXvalwKx4ayRWAD5%2F51r88vE%2BxC7Hk7GlyBV%2BHcKSm531%2BK8z98fBTUzralcqIUfq0mWjhHdvuIZUNKnrcSDtVNzMdPhufmQDvnn3OlS8RlkPKgoRu1yfYtiBi08ch%2FccOJ5MQkJBk8E2d8lwTk008WMsHrgygvzBVRV84sfPo%2BzVizkL2FTNvnYnQt41OGG2g8%2B%2BbRLGaNOWBHFChcgdLubxpZm2nW0tmNLWYdScLKVRz4rE4BNXP41nuhskilFkLXmIWE9PMNNvx7Vnz8W0Ok%2FQTTTxdHz52q3x0A%2F3OUfF1PPLpVFQQIAOKuwniw2%2B9D8r8duFXSi7DTJzRaBBcS8bUDE%2BV8VXT52NYybQ6%2Bdz0%2BQrXl3YNHZzwUt7tSVkJCiFwPKv%2F6kdN%2F1tHZAfIwUZHoMRC1d%2BHnVxK84%2FdgbOOKQgaFtPsnxELEtJx9KnDVfMm79ulARvMelkeHR89CWuNO4t7U1w7g3PYWF5jAAwmNMnd4yDvLBcHNDch2%2BcMhN75JSFgmqRugo30pNvN764FtJgyYxcjMfaIpxzw2KsS8ZKG0YaRwJVS21L8yEN7bjqI%2FuhjiEfs5uWbVRmMe6qmTv1WonMk6HWIi0mHdIowpf%2F2IJrH64AHkGBFC4Ro0VJ6ZZMB04%2FehrOO6yAQqD0qDT3icsp1C%2FFldn5G0a9ej3ou1OD%2F%2Fc%2Fq%2FGbRWVUnFqpp7N6WTVFJJ6LsZVVuPSE8Tj5oIny0KR9UUgFragylbxUJRg1jadpI2UKG%2FGFDkDwdyGeDXK46OaVeGIdSfSV%2By1KCMHKydEwzmnF1z44G6%2BbrKNKCfKQnPVW6Ld3vkiHdwecMMU1YHRy21Od%2BPpvVkn4JkOFxXjTsnHGXoC37W3w%2BXdMxziXM3mFiEV4hNkgKvyDu7bgrcaz3CjdmWx6dGWkyR188F%2BvRNnUICBDlqOdI6QKJbXK3KYIl585B%2BM9tmGlQqLoeCRUeqn7fHhCGo1XcWgwtXZFV4qP%2Ffg5PNedR%2BIWZaIHNZlzfNwkxGSzAZefPg%2FzmwsoCo6OzWni2tmijb27l7gUo6jxyo4hwrJ87mRkZktVl%2BvgjG8%2FiCcrk8S7d71UYliG8eSOKbk9OHb%2FWnzqxGmYktJm8KN287JsmmBV2cHFP%2F4HHtqQR1A3Xejdi5ywmYSCvCm4MU6d6%2BD8t%2B4h5MOodMPPFbTbSMI8R%2FwEopt1bbd%2Fi46i4G3mzXLKikETYgMjExWf6gQ%2Bd%2F3DWF5tRDVXJ2SFJPslrw0DuUIuwcVvmox%2FnleLGkGfMrRzkDAEGNQowKZJpUvk0nElRqpNepiLarnzWYBShCBVmxU4zUDEqSMo2d7Uw82PtOKKu1ehmlcWSvLSSGhH%2Bri4jPkTElx5yixMyCmzt0tNEKzbgODZKqWdwi%2BNXGqUBC8pnH4ohSgsxcMFgYOK44IdYtf9%2Bmnc%2BkSMVqcJsVcQsEExKUueOohTTDIt%2BNIp%2B%2BH10%2FKCGWdOyJFOQluxz2bd25BPYU0vDZI0THH3v0yHJujWU6EwpRqKI5v4JZ3EHae4d2WAz93yD3TWzEJrGUI%2F5ieEmBdlI49PNuBz%2F7wH3ji7Tn2iUb5GVfAqHrVHysZMH10nPLAJsD1OccmPl%2BHRFoOulKwRhB%2BRqw3I5%2FMIggpm5zfg6vMOwFQOCfCUgJdoHqUOz%2FrRyUShR8GOTu2q2JXhW%2BlPyeCZIKiGcPIllA3QbYCzrngIL6Tj0VEBolITaqqtMpmrmgC1ThkfO34qTj24TmBVOyJHOeqC7wdUiOCV5Fjqza6PcuLgsfVVXPTDp7A2HYvQq1Fi5EQH5dI3qEMP5o3pwuWn7Ifmko%2BCUIxycTN2ai67tl0LQGGUNWXTj7fGXelZpdauISwtHCnalnSFuPTWxVjUVURnkINfrENa7ULOJSVZjLwT43XTHHzt5JlodBMZHrQjnmKUBK88bFJJ76%2Brp0qWT5owxyAOyTdfRCVm82UHvnXPcrR44xHH7AtzkGP4llSk985HFe%2Fcp4CPv3WSjMfm2UeCH%2FLsKItmBtx7aefe9u2ZjIOVYZaCKyz7KdqjFJf%2BfAkeWOuiEjHV6iFMDGrdEEEcAJ6PeWN6cfnpczDD15Embr8V2767Ge67RlHwOlOOi5FdSszLTlrtmNUqI8eNGHz3z6vxwwc60A2OG2cqN4TvsjfPF0eJ3O9vnNOAS989FWOFyN8OK6TXb1xEZJP0tjxVcbiLsV2vk4glw9ewmUGrCp0p8IVfrsJvF%2FYgLbDyFghljOMX0BdFKBV8lLoW4xtnvAav38OTyl1JfJWX5q0P9xlGXfBSlHgRA8w2LDpFrQb44q3P4t6VBn1xAa6bRxoGgiZlNEAHqWjKeMNeRVz0tqmYVKCB10oWT9kMr6OkCzvu6nfuSGYhzqXBmsDg23evxi%2Bf6UPo1iAVWnN2HCU6jtUrYEzchk8f24yTD2lEXoyjTqbgbJ%2BXEqYN98lHSfDC%2BCb3oK5d1iS0Ke%2BkJYoU9kdgdQW44EdPYmFXLXpE%2BDqDntkq8uyZnAen3InjZrm45KQ9MMnnptCJY8Tsex6dvR0reH6%2FpJXtSPQN1RTf%2Bv1a3P50GREJB4OqTNQg6iiiA5gaFN0YJ86K8OV37Y1SFMLxXRiOmOTMst1Z8Bl8WFGymfujejkYQ8%2Ffc8EIMCCgkFw5S3ojXHjjEizpLqIrySHHaYkR6daYo85JwaYBvZg%2FtoIvnzEHTT6JAex4U4%2FHyo4XfJlNiw7Q2hfikhufxuNd9eixbFk5P4dybzeKpRrEYQVjnT4cv18NLn3LdDQ4QI7PLWzhXA0lhtxtNd6e5JaaTNO1A5fN5tktQMIex2E6l9L3BIP%2FwAt9%2BNLtK7C8Wi%2F5%2FjQJ4edI7sO27JyY9XzUjb1rK7jgHTNx6KQCStQa4dbTqFrtzKapLcmGbLb5XtQ8Zju1%2F6MG%2F4CJJZ2Q9X%2BLO3HFnSuwrFonbBWe5yEMI6mb%2By6duwR1poLXTw7w2XfPxsQihySmmpCS8rMktoU%2F8CUk5IZr6TcmOBz2u4bxwo3Xa%2BMO2OztWsOzsGMZa6LvqhgPj7fH%2BNz1T2BZ2Ig%2BabyswHNy8JjaZc89%2BeD9HEpxG84%2FcRbeuZ%2BHepE6CQbp9XP0GUkX7IEjjpOyRQjowSqWNGNuQgMkLJncINmAAuLfYlKLsLMllA1GMAkzqR0khvhHH3589wK0ueNRTllpzCY88ktieEkVxbgd8yZ4%2BOqZB2CKk8IjYRTzEux7z%2FLw%2FaNTR1%2F0o3bGD2Nv2I4STeNaRmXx%2BjlIp9s4eHRtL674%2BTIs6fQQ5OoEtEYWiEqlCi%2FPcQUc%2FxZgvN%2BHw%2FZwcfab9sY%2B9TqiS2BKtDSEeImDaVk6OQBJ9oIMmrGNHJafXP7NeTfZaBTGF0ybElDCibkcg8K%2Bl1hAkk%2B1G1xzzzI8tKwXnUkJgctGR2WWNm5eNgtpYWpzDg4cV8WFJ83EjFoP9VJ%2F0IZRNkVKAkhuaceNVd%2BpglfaxaxZws4qkbR0jL7EoOw5eH5DBd%2B5%2FRk80togw34CwpOKOUQcZypm0cBEEYoOMKO2B%2B993RScuP8YjDUpfMP%2BezqGeZ0ykRl6JoBE8AO2RzOMlp1DiAk5UpX951WZ85qk5In1BQvaWU7xh2facdP9bVjcRQJHT0gb2Qmcd%2FlaZhKZX%2FTREPfi4PEOLj15BqbXQBJQBEuylUyApLbiqBzydob4DkhD7WTBUzssa4OlKxVlNDEiJjjcgpRe1kfAv179DJ7rLqI9ZlyfopTLsmPKmZtUGfo5qEEZc2p6cMl7D8T%2B47Wg6cjgQ%2B1MIamwBl52Jp6Nm7OjacAVtRl4ztghp5ybk%2FmuD6%2BM8K07npAu4L7ER8gz2svB8fMwcUWSTjxmGGEE5R4cP7cBXzxpGibEicDJmZxSqvOBsE03ZDbMeZO28eGYzu14zc4XvGi8Nkqy0iZJuFinUnKOuuEZaFy80ANcfd9K%2FOLxCnpMg6Q2fZlEFSJ2Cd4kEySzfYrNn5Cr4OhZKT7yppmYVEMqNvstaSCTrzWtqlWwwYm%2FDPXOtXRjwrtdhA6wtDPED%2B5cgAdWu1gXlWQjDGav9u3g4xwJnVhsYovYEc04%2FXWT0Jgji30ME%2FPIyPWf6zIBO6M%2FtV2COyrlvFMFr1pmeXM3YniQwWOiaZKasbTbXTFw%2Bz%2FacN1f2rAhKNnJzmxKUGZ4YYlIjTQiUJi1UQ8Om%2BLh4nfvgVm1bEdiWlVRrjpHXfU7G0yonTuW%2BJcbiHAop4Dnq8BXfrIIj7Y46HNrtVaAQICPARsgOJaVo9jkfE8xs6aCs4%2BajLfOq0WR4z3FyvD7dEhTNmxNP8d2CQtaacdBSne64JUIXB0vWXhZiP5J9lrdY6wfp5LfqEbAws4EX%2F75U3i8u04mZRCpwvM0FGAijShJl5n2zaEuXotj90rxmffPQ71MFElREModNi%2FoN4owJA1MQQjhjMyeCb081iGHf%2F%2FJIjywJocqx3hycB%2FjduOLjnqeiypZnKIyxro9OHRCjE%2BeNBcz6lhsIlmhTGbS%2BT72PM%2FyGzqHTx1KprZfYYLX%2Fb8xvkY7RrPzln6YgAwJwXI4%2BquA53sT3PSXDbj70VUoe%2BMRJAURGt9JOfDY8BMDPyqj0e3FcQc04sPHT5Y2YydhByq1mzo60GuuEy51%2BgVLrMsDB9%2B%2FeznueYqQ8LGIE3UmU1crhyyqSDtTCswodeNdrxmPEw4ah%2BY8wRdaYxPWbhov1pMGsVgLMVE2c8VO2dD4Zofkb0Yvjh%2BOv6HBlOJwld9Wn3rAwdIwT%2BwAOfGNkvUShswJ0wQw%2FmVRF2744wo81%2B4icGuUxpsVQXaj6HwNgQGUUMZhkwOc89YZmD0uL1aCreYc1WUiDhbKyRHRY4x0%2BS5qqeIHv12Fx1cHSLxahGGMfC6HSkLCIr63glzcgzFeFa%2Bf04wPvWEq9mmg1VDEjBh0nuni7TvixUvImh1vm9QwaG3sPJAdgi3cqaZePO2M10poOFUl9OxVVeFisTrHjJ5QeDGpb%2BPyVHO9aAkT%2FHVNiGvufgFL22M4Cfvrc6hymILDzKABgjKKqGJMPsJ%2BYyO857h9MH9aTmBdnNlCu9NjgIeWh7jjT89i0YYErXE9woQtzdrZo7RibGFOYcJ2HL53I849cTz2LfkYI%2B3LCijVnCFNVJ%2BofYgSHCnCDCSyZHiANfRi8TKzL9XM0Xfxdrrgt24ZBrL6agG2YgbteBC6T2vKwG0PvICb72tFd3EqosTAY%2FKF57lHnmd%2BSgQ3ClDrexiT91Cfc1DgeNAkRXc5QFslRE%2FCNmYdVqzRBsutHMfCsQpV4eU97ZhJ%2BOeDmzHRpyXS%2BD%2BzThomDKpRDMIkDDzvpqnjzXLDwzGa2%2F2aXVjw2%2F5M1TTFhtjgv375NO5aFKDLnypgxxKnJFS7dJyKV9ScvsC3GOMrk57QtZFXT%2F5TjRMNpmY6vqRvObut2WnDKYc34rTXT5HJmszkeeQq282ul5XgI1sw6YiA6%2B56Fj97rAed%2BckiNJL%2Bcvw4064EbvCi7x9zpIjw8qjgnZRoWc0rxEQBWWoxP%2B7FeGzAx9%2B8B948r0lGmQqwUo70HVNDH8m99bISvBz%2FYp5jtAYufvLgStz%2BcBvWVGuQ%2BLUyusPjwL2QIzvYlwcZDihnNselWQ%2Bc0x%2BEeJmInjRGKWnDjEIXPvG2OThirxrUyLx6zToaxpg7CDXzquC3tgLiXDHfzXPZRQ8cPNMJXHH7Ijy9wUd3UoRPilDJ%2BCkHrxCsSU1cUTyS%2FhWwPquFCcbkQ%2Bxb34dL3z8f02uBAo%2BNmP3rsmOkq9eh17mbXS8rjWfiRdw3mfWqjZpMkawJgL%2Bt7MMv71uH515oRXe%2BGb2xA6ZXpeueySGGlQnbvljY4ZS9BAdMqsMHXt%2BMQ6fVoM5nTzo%2F045Yt8fB7ne626h58Ny53WzTbn67NifCCpo4ZyL2SDg1%2B4wr41RWdyZ46Nn1eHJ5D1a3hegMfBivFsWcgzH5KqY0JJg3vQFzp47BnmM54EebFenhExiecqSq5d%2FTb3npnas7Y91fVho%2F0NxAgdvePVa%2Bo1AQMRmxCsn%2FtfVKswUkic4Rt5cNMxQefmL9OGXDR9XNSS5AW7V1brsk%2BcjUKY7B7sfW8bISfP8MWkmHZthbad6CI02HiujVQoylTWUNSCDa2p9Hp07RN6wR0VrQB2D5h3lgJoOUjFjBHBm%2BZyRn2u4Y%2FX9ZCX4g2TtA0U%2FnW504HW1KFo7BUzFIuGhkCgTFrULXIbycm2tHfUjYlmXR%2BRst3tKBpEu4O3Lpv8wEP6AtKsiNr4Fc4Ka%2F29KrrVZnn7PRS%2BxGko%2FfMeDIkbYD%2Fx%2Bq5WsoyujdywAAAABJRU5ErkJggg%3D%3D) no-repeat;
    background-size: cover;
    width: 25px;
    height: 32px;
    border-radius: 5em
}*/

.salbot-wrapper .message-item-server {
    margin-left: 55px;
    margin-right: 10px;
    position: relative
}

.salbot-wrapper .item-server-img {
    content: '';
    position: absolute;
    left: -40px;
    top: 6px;
    background-color: #003399;
    border-radius: 5em;
    width: 25px;
    height: 25px;
    padding: 4px
}

.salbot-wrapper .item-client-img {
    content: '';
    position: absolute;
    right: -32px;
    top: 6px;
    background-color: #003399;
    border-radius: 5em;
    width: 25px;
    height: 25px;
    padding: 4px
}

.salbot-wrapper .message-item-client-text {
    background: #ECECEC;
    margin-right: 6px;
    margin-left: 44px;
    padding: 3px 12px;
    color: #454557;
    font-size: 14px;
    border-radius: 15px;
    display: inline-block;
    text-align: left;
    overflow-wrap: anywhere;
    white-space: break-spaces;
}

.salbot-wrapper .message-item-server-text {
    background: #E1E8F6;
    padding: 3px 12px;
    font-size: 14px;
    color: #454557;
    border-radius: 15px;
    display: inline-block;
    margin: 8px 0;
    word-break: break-word;
    white-space: pre-line;
}

.salbot-wrapper .button-container {
    display: inline-block;
    margin-left: 10px
}

.salbot-wrapper .server-button {
    text-align: left;
    white-space: normal;
    max-width: 258px;
    background: #1a53c6;
    border: none;
    border-radius: 40px;
    color: white;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 14px;
    transition: all .3s ease;
    margin: 2px 0 2px 10px;
    -webkit-appearance: none
}

.salbot-wrapper .list-img {
    background-repeat: no-repeat;
    background-size: contain;
    width: 250px;
    padding-bottom: 150px;
    margin-left: 10px;
    margin-top: 10px
}

.load-1 {
    margin-top: -40px;
    margin-left: 10px;
    display: none
}

.line {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 15px;
    background-color: green
}

.load-1 .line:nth-last-child(1) {
    -webkit-animation: loadingA 1.5s 1s infinite;
    animation: loadingA 1.5s 1s infinite
}

.load-1 .line:nth-last-child(2) {
    -webkit-animation: loadingA 1.5s .5s infinite;
    animation: loadingA 1.5s .5s infinite
}

.load-1 .line:nth-last-child(3) {
    -webkit-animation: loadingA 1.5s 0s infinite;
    animation: loadingA 1.5s 0s infinite
}

@-webkit-keyframes loadingA {
    0% {
        height: 10px
    }
    50% {
        height: 25px
    }
    100% {
        height: 10px
    }
}

@keyframes loadingA {
    0% {
        height: 10px
    }
    50% {
        height: 25px
    }
    100% {
        height: 10px
    }
}

.text-2 a {
    text-decoration: none;
    color: unset
}

.salbot-wrapper .message-list {
    /* don't allow the children of the scrollable element to be selected as an anchor node */
    overflow-anchor: none;
}

.illume-anchor {
    /* allow the final child to be selected as an anchor node */
    overflow-anchor: auto;

    /* anchor nodes are required to have non-zero area */
    height: 1px;
}